In [1]:
import pandas as pd
import xarray as xr

In [2]:
df = pd.read_parquet("/home/uch/PVForecast/data/.datalake/radiation_2.grib")

In [28]:
df.loc[0, "latitude"]

54.30042635

In [3]:
ds = xr.open_dataset("/home/uch/PVForecast/data/.datalake/forecast.grib", engine="cfgrib", backend_kwargs={"filter_by_keys": {
            "typeOfLevel": "heightAboveGround",
            "parameterCategory": 4,
            "parameterNumber": 3,
            "level": 0
        }, "indexpath": ""})

/home/uch/.pyenv/versions/3.10.8/envs/pvforecast-etl/lib/python3.10/site-packages/numpy/core/getlimits.py:549: UserWarning: The value of the smallest subnormal for <class 'numpy.float32'> type is zero.
  setattr(self, word, getattr(machar, word).flat[0])
/home/uch/.pyenv/versions/3.10.8/envs/pvforecast-etl/lib/python3.10/site-packages/numpy/core/getlimits.py:89: UserWarning: The value of the smallest subnormal for <class 'numpy.float32'> type is zero.
  return self._float_to_str(self.smallest_subnormal)

In [31]:
ds.to_dataframe().query("latitude >= 54.300")

           number                time            step  heightAboveGround  \
y    x
728  723        0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     724        0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     725        0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     726        0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     727        0 2024-09-07 15:00:00 2 days 01:00:00                0.0
...           ...                 ...             ...                ...
1605 1901       0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     1902       0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     1903       0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     1904       0 2024-09-07 15:00:00 2 days 01:00:00                0.0
     1905       0 2024-09-07 15:00:00 2 days 01:00:00                0.0

            latitude   longitude          valid_time        grad
y    x
728  723   54.300278  350.743824 2024-09-09 16:00:00  10598394.0
     724   54.300599  350.774635 2024-09-09 16:00:00  10593274.0
     725   54.300911  350.805446 2024-09-09 16:00:00  10285050.0
     726   54.301216  350.836257 2024-09-09 16:00:00   9970682.0
     727   54.301513  350.867069 2024-09-09 16:00:00   9882618.0
...              ...         ...                 ...         ...
1605 1901  62.713052   39.950011 2024-09-09 16:00:00  29107194.0
     1902  62.701702   39.980009 2024-09-09 16:00:00  29147130.0
     1903  62.690345   40.009985 2024-09-09 16:00:00  29162490.0
     1904  62.678982   40.039940 2024-09-09 16:00:00  29192186.0
     1905  62.667612   40.069874 2024-09-09 16:00:00  29293562.0

[1525082 rows x 8 columns]

In [ ]:
dc = dc.to_dataframe()

In [ ]:
df = df.set_index(["time_utc", "created_time_utc", "altitude_m"])

In [ ]:
df

In [ ]:
df.merge(dc, on=["latitude", "longitude"])

In [ ]:
ds = xr.Dataset.from_dataframe(df)

In [ ]:
ds = ds.set_coords(["time_utc", "altitude_m", "latitude", "longitude", "created_time_utc"])

In [ ]:
nwp = xr.Dataset.from_dataframe(df)

In [ ]:
nwp